#Nikita Nagraj

#1. What exactly is []?

---> List is represented by square brackets. List is a type of data collection in core python. we can store homogeneous types of item in list. List is mutable data collection.List is dynamic.

#2. In a list of values stored in a variable called spam, how would you assign the value &#39;hello&#39; as the
third value? (Assume [2, 4, 6, 8, 10] are in spam.)

In [ ]:
##Ans
spam=[2,4,6,8,10]
spam[2]="hello"
spam

[2, 4, 'hello', 8, 10]

#Let&#39;s pretend the spam includes the list [&#39;a&#39;, &#39;b&#39;, &#39;c&#39;, &#39;d&#39;] for the next three queries.

In [ ]:
spam=['a','b','c','d']

#3. What is the value of spam[int(int(&#39;3&#39; * 2) / 11)]?

In [ ]:
#Ans
spam[int(int('3'*2)/11)]

'd'

#4. What is the value of spam[-1]?

--->'d'

In [ ]:
spam[-1]

'd'

#5. What is the value of spam[:2]?

--->['a','b']

In [ ]:
spam[:2]

['a', 'b']

#Let&#39;s pretend bacon has the list [3.14, &#39;cat,&#39; 11, &#39;cat,&#39; True] for the next three questions.

In [ ]:
bacon=[3.14,'cat',11,'cat',True]

#6. What is the value of bacon.index(&#39;cat&#39;)?


--->1

In [ ]:
bacon.index('cat')

1

#7. How does bacon.append(99) change the look of the list value in bacon?

---> it append value 99 at the end of the list

In [ ]:
bacon.append(99)

In [ ]:
bacon

[3.14, 'cat', 11, 'cat', True, 99]

#8. How does bacon.remove(&#39;cat&#39;) change the look of the list in bacon?

---> It will remove first cat value from the list.

In [ ]:
bacon.remove('cat')

In [ ]:
bacon

[3.14, 11, 'cat', True, 99]

#9. What are the list concatenation and list replication operators?

---> list concatenation is represented by + and replication operator is represented by *.

Using concatenation we can join multiple list.

using replication we can replicate the data.

example-

In [ ]:
a=[1,2,3,"cat",8.3]
b=[4,"dog",3,2,10]
a+b

[1, 2, 3, 'cat', 8.3, 4, 'dog', 3, 2, 10]

In [ ]:
a=["spam"]
a*4

['spam', 'spam', 'spam', 'spam']

#10. What is difference between the list methods append() and insert()?

---> append()
     append function appends the elements at the end of the list

     insert function can insert the element at the specified index and moves the remaining elements.

     example-

In [ ]:
li=[1,2,3,'cat']
li.append(6)
li

[1, 2, 3, 'cat', 6]

In [ ]:
li.insert(1,"dog")
li

[1, 'dog', 2, 3, 'cat', 6]

#11. What are the two methods for removing items from a list?

---> remove() and pop() can remove the items from a list.

remove() can remove item from the list.In remove() we have to specify the value which we want to remove. It removes first occurance of value.

pop() can remove last element from the list. if you specify index inside pop() then it can remove the value at specified index.

example-

In [ ]:
li=[1,2,3,4,'cat',4.6,'dog',7,2]       #remove value 2 which occured first in a list
li.remove(2)
li

[1, 3, 4, 'cat', 4.6, 'dog', 7, 2]

In [ ]:
li.pop()      #remove last element
li

[1, 3, 4, 'cat', 4.6, 'dog', 7]

In [ ]:
li.pop(1)       #remove value which is at index location 1
li

[1, 4, 'cat', 4.6, 'dog', 7]

#12. Describe how list values and string values are identical.

--->we can access list and string values using index.

list is mutable and string is immutable type of data collection.

string stores each characters at consecutive level whereas list stores reference of elements.

#13. What&#39;s the difference between tuples and lists?

---> List is mutable typr of data collection. We can update the values of list. List is represented by [].

List is dynamic.

Tuple is immutable type of data collection. Tuple is represented by (). If we need to update tuple then we have to convert it into list and again back to tuple.

Tuple is static

#14. How do you type a tuple value that only contains the integer 42?

In [ ]:
#Ans
t=(42,)
t

(42,)

#15. How do you get a list value&#39;s tuple form? How do you get a tuple value&#39;s list form?

In [ ]:
l=list((1,2,3,4))  #tuple values in list format
l

[1, 2, 3, 4]

In [ ]:
t=tuple([1,2,3,4])   #list values in tuple format
t

(1, 2, 3, 4)

#16. Variables that &quot;contain&quot; list values are not necessarily lists themselves. Instead, what do they contain?

---> List can contain different types of data like tuple, set.

In [ ]:
#eg.
l=[1,2,3,[3,4,5],(3,4,5),{2,3},"cat",True]
l

[1, 2, 3, [3, 4, 5], (3, 4, 5), {2, 3}, 'cat', True]

#17. How do you distinguish between copy.copy() and copy.deepcopy()?

---> copy.copy()- This function creates shallow copy . Itis only one level deep. It wont create copy of child objects.

copy.deepcopy()- Any changes made to copy of object doesnt reflect in original copy. It creates fully independent objects.

In [1]:
#eg.
import copy
l=[1,2,3,4]

In [2]:
l1=copy.copy(l)

In [3]:
l1.append(5)

In [4]:
l1

[1, 2, 3, 4, 5]

In [5]:
l

[1, 2, 3, 4]

In [7]:
l2=copy.deepcopy(l)
l2

[1, 2, 3, 4]

In [8]:
l2.append(6)

In [9]:
l2

[1, 2, 3, 4, 6]

In [10]:

l

[1, 2, 3, 4]